@charset "UTF-8";
/* CSS Document */

*{
padding: 0px;
margin: 0px;
border: 0px;
box-sizing: border-box;
}

body, html
{
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #282b2d;
  color: #ffffff;
  text-decoration: none;
}

.solutions_head
{
  border-top: 1px solid #f1a91f;
  overflow: auto;
  padding: 20px;
  background-color: #232729;
}

.solutions_body
{
  border-bottom: 1px solid #f1a91f;
  overflow: auto;
  padding: 20px;
  background-color: #232729
}

.column_head_a
{
  float: left;
  width: 50%;
  text-align: left;
  padding: 20px;
  background-color: #232729;
}

.column_head_b
{
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px;
  background-color: #232729;
}

.column_body
{
  float: left;
  width: 25%;
  border: 1px dashed #f1a91f;
  text-align: center;
  padding: 20px;
  background-color: #282b2d;
}

@media screen and (max-width: 600px)
{
  .column_head_a, .column_head_b, .column_body
  {
    width: 100%;
  }
}

.text_left
{
  text-align: left;
}





.solutions_a_head
{
  border-top: 1px solid #f1a91f;
  border-bottom: 1px solid #f1a91f;
  overflow: auto;
  padding: 20px;
  margin-top: 20px;
  background-color: #232729;
}

.column_a_head_a
{
  float: left;
  width: 50%;
  text-align: left;
  padding: 20px;
  background-color: #232729;
}

.column_a_head_b
{
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px;
  background-color: #232729;
  font-size: 14px;
}
@media screen and (max-width: 600px)
{
  .column_a_head_a, .column_a_hea_b
  {
    width: 100%;
  }
}

/*--designed and written by Joshua Manley--*/
