@charset "UTF-8";
/* CSS Document */

*{
padding: 0px;
margin: 0px;
border: 0px;
}

body, html
{
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #282b2d;
  color: #ffffff;
  text-decoration: none;
}


/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


/*--designed and written by Joshua Manley--*/
