@charset "UTF-8";
/* CSS Document */

*{
padding: 0px;
margin: 0px;
border: 0px;
box-sizing: border-box;
}

body, html
{
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #282b2d;
  color: #ffffff;
  text-decoration: none;
  scroll-behavior: smooth;
}

.text_left
{
  text-align: left;
}


/*---------nav begin------------*/
/*---------nav begin------------*/


/*---------intro begin------------*/

.intro_container
{
  background-image: url("https://foxbytellc.github.io/bgimg01.jpg");
  height: 100%;
  /* the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 20px #000000;
  animation:opac 1.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

/*---------intro end------------*/


/*---------solutions begin------------*/

.solutions_head
{
  border-top: 1px solid #f1a91f;
  overflow: auto;
  padding: 20px;
  background-color: #232729;
}

.solutions_body
{
  border-bottom: 1px solid #f1a91f;
  overflow: auto;
  padding: 20px;
  background-color: #232729
}

.column_head_a
{
  float: left;
  width: 50%;
  text-align: left;
  padding: 20px;
  background-color: #232729;
}

.column_head_b
{
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px;
  background-color: #232729;
}

.column_body
{
  float: left;
  width: 25%;
  border: 1px dashed #f1a91f;
  text-align: center;
  padding: 20px;
  background-color: #282b2d;
}

@media screen and (max-width: 600px)
{
  .column_head_a, .column_head_b, .column_body
  {
    width: 100%;
  }
}

/*---------solutions end------------*/


/*---------solutions_a begin------------*/

.solutions_a_container
{
  background-image: url("https://foxbytellc.github.io/bgimg03.jpg");
  height: 100%;
  /* the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 20px #000000;
  padding-top: 5%;
  animation:opac 1.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

.solutions_a_head
{
  border-top: 1px solid #f1a91f;
  border-bottom: 1px solid #f1a91f;
  padding: 20px;
  background-color: #232729;
}

/* Clear floats after the columns */
.solutions_a_head:after {
  content: "";
  display: table;
  clear: both;
}

.column_a_head_a
{
  float: left;
  width: 50%;
  text-align: left;
  padding: 20px;
  background-color: #232729;
}

.column_a_head_b
{
  float: right;
  width: 50%;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #232729;
  font-size: 14px;
}

.layeredimage_container
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 360px;
  height: 492px;
  background: rgba(0,0,0,.1);
  transform: rotate(-30deg) skew(25deg) scale(.8);
  transition: .5s;
}

.layeredimage_container img
{
  position: absolute;
  width: 100%;
  transition: .5s;
}

.layeredimage_container:hover img:nth-child(4)
{
  transform: translate(80px,-80px);
  opacity: 1;
}

.layeredimage_container:hover img:nth-child(3)
{
  transform: translate(60px,-60px);
  opacity: .8;
}

.layeredimage_container:hover img:nth-child(2)
{
  transform: translate(40px,-40px);
  opacity: .6;
}

.layeredimage_container:hover img:nth-child(1)
{
  transform: translate(20px,-20px);
  opacity: .4;
}

.p_margin
{
  margin-top: 5%;
}

@media screen and (max-width: 600px)
{
  .column_a_head_a, .column_a_head_b
  {
    width: 100%;
  }
}

/*---------solutions_a end------------*/


/*---------solutions_b begin------------*/

.solutions_b_container
{
  background-image: url("https://foxbytellc.github.io/bgimg02.jpg");
  height: 100%;
  /* the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 20px #000000;
  animation:opac 1.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

.solutions_b_head
{
  position: absolute;
  border-top: 1px solid #f1a91f;
  border-bottom: 1px solid #f1a91f;
  overflow: auto;
  padding: 20px;
  margin-top: 25%;
  background-color: #232729;
}

.column_b_head_a
{
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px;
  background-color: #232729;
}

.column_b_head_b
{
  float: left;
  width: 50%;
  text-align: right;
  padding: 20px;
  background-color: #232729;
  font-size: 14px;
}
@media screen and (max-width: 600px)
{
  .column_b_head_a, .column_b_head_b
  {
    width: 100%;
  }
}

/*---------solutions_b end------------*/


/*---------solutions_c begin------------*/

.solutions_c_container
{
  background-image: url("https://foxbytellc.github.io/bgimg03.jpg");
  height: 100%;
  /* the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 20px #000000;
  animation:opac 1.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

.solutions_c_head
{
  position: absolute;
  border-top: 1px solid #f1a91f;
  border-bottom: 1px solid #f1a91f;
  overflow: auto;
  padding: 20px;
  margin-top: 25%;
  background-color: #232729;
}

.column_c_head_a
{
  float: left;
  width: 50%;
  text-align: left;
  padding: 20px;
  background-color: #232729;
}

.column_c_head_b
{
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px;
  background-color: #232729;
  font-size: 14px;
}
@media screen and (max-width: 600px)
{
  .column_c_head_a, .column_c_head_b
  {
    width: 100%;
  }
}

/*---------solutions_c end------------*/


/*---------solutions_d begin------------*/

.solutions_d_container
{
  background-image: url("https://foxbytellc.github.io/bgimg02.jpg");
  height: 100%;
  /* the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 20px #000000;
  animation:opac 1.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

.solutions_d_head
{
  position: absolute;
  border-top: 1px solid #f1a91f;
  border-bottom: 1px solid #f1a91f;
  overflow: auto;
  padding: 20px;
  margin-top: 25%;
  background-color: #232729;
}

.column_d_head_a
{
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px;
  background-color: #232729;
}

.column_d_head_b
{
  float: left;
  width: 50%;
  text-align: right;
  padding: 20px;
  background-color: #232729;
  font-size: 14px;
}
@media screen and (max-width: 600px)
{
  .column_d_head_a, .column_d_head_b
  {
    width: 100%;
  }
}

/*---------solutions_d end------------*/


/*---------footer begin------------*/
/*---------footer end------------*/



/*--designed and created by Joshua Manley--*/
